<table class="game-table">
	<tbody>
		<tr>
			<td>
				<table>
					<tbody>
						<tr>
							<td>
								<number-selector [disabled]="!isRunning || !isMyTurn"
									(guess)="onGuess($event)"
									>
								</number-selector>
							</td>
						</tr>
						<tr>
							<td>
								<server-output [output]="guesses"></server-output>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table>
					<tbody>
						<tr>
							<td>
								Opponent guesses
							</td>
						</tr>
						<tr>
							<td>
								<server-output [output]="opponentGuesses"></server-output>

								<progress-bar *ngIf="!isRunning && !isGameOver"
												text="Awaiting game start...">
								</progress-bar>

								<progress-bar *ngIf="isRunning && !isMyTurn"
												text="Please wait for your turn...">
								</progress-bar>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>